absl-py
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
cycler
debugpy
decorator
defusedxml
Django
django-cors-headers
django-phonenumber-field
django-rest-framework
django-restframework
djangorestframework
entrypoints
executing
fastjsonschema
filelock
Flask
Flask-Cors
flatbuffers
fonttools
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h11
h5py
httpcore
httplib2
httpx
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
mysql-connector-python
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandoc
pandocfilters
parso
phonenumbers
php
pickleshare
Pillow
plumbum
ply
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pypiwin32
pyrsistent
python-dateutil
pyttsx3
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
requests-file
requests-oauthlib
rsa
Send2Trash
six
sniffio
soupsieve
SpeechRecognition
sqlparse
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tinycss2
tk
tldextract
tornado
traitlets
typing_extensions
tzdata
uritemplate
urllib3
urlscan
urwid
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
